<div class="modal-header">
    <h3 class="modal-title">{{ 'CHANGE_PW.CHANGE_PASSWORD' | translate }}</h3>
</div>
<div class="modal-body">
    <div>
        {{ 'CHANGE_PW.INSTRUCTIONS' | translate }}
    </div>
    <div>
        {{ 'CHANGE_PW.PASSWORD_FIELD' | translate }}:
        <input type="password" ng-disabled="saving" ng-model="password"></input>
    </div>
    <div>
        {{ 'CHANGE_PW.PASSWORD_FIELD_AGAIN' | translate }}:
        <input type="password" ng-disabled="saving" ng-model="passwordconfirm"></input>
    </div>
    <div>
        <button
            ng-click="save()"
            type="button"
            ng-disabled="!(password.length >= 8 && password === passwordconfirm) || saving"
            class="btn btn-primary">
            {{ 'CHANGE_PW.SAVE' | translate }}
        </button>
        <button
            ng-click="cancel()"
            ng-disabled="saving"
            type="button"
            class="btn btn-danger">
            {{ 'CHANGE_PW.CANCEL' | translate }}
        </button>
    </div>
</div>
