<div class="modal-header">
  <h1>{{ 'CHANGE_PW.PASSWORD_RESET' | translate }}</h1>
</div>
<div class="modal-body">
  <div ng-hide="newPassword" class="new-password-warning">
    <h2>{{ 'CHANGE_PW.WARNING' | translate }}</h2>
    <p>{{ 'CHANGE_PW.TEMP_PASSWORD' | translate }}<b>{{user.username}}</b>.</p>

    <p>{{ 'CHANGE_PW.INVALIDATE' | translate }}</p>
    <div class="btn btn-warning" ng-hide="newPassword" ng-click="resetPassword()">{{ 'CHANGE_PW.GENERATE' | translate }}</div>
    <div class="btn btn-primary" ng-click="close()">{{ 'CHANGE_PW.CANCEL' | translate }}</div>
  </div>

  <div ng-show="newPassword" class="new-password">
    <h2>{{ 'CHANGE_PW.COMPLETE' | translate }}</h2>
    <h3>{{ 'CHANGE_PW.PASSWORD_FIELD' | translate }}: <b>{{user.password}}</b></h3>
    <p>{{ 'CHANGE_PW.GIVE_PASSWORD' | translate }} <b>{{user.username}}</b>. {{ 'CHANGE_PW.NOT_DISPLAYED' | translate }}.</p>
    <div class="btn btn-primary" ng-click="close()">{{ 'CHANGE_PW.DONE' | translate }}</div>
  </div>
</div>
