<div class="modal-header">
  <h1>Password Reset</h1>
</div>
<div class="modal-body">
  <div ng-hide="newPassword" class="new-password-warning">
    <h2>Warning</h2>
    <p>This action will generate a temporary password for <b>{{user.username}}</b>.</p>

    <p>This password will invalidate this user's current password. The new password will be displayed only once</p>
    <div class="btn btn-warning" ng-hide="newPassword" ng-click="resetPassword()">Generate Password</div>
    <div class="btn btn-primary" ng-click="close()">Cancel</div>
  </div>

  <div ng-show="newPassword" class="new-password">
    <h2>Password generation complete</h2>
    <h3>New Password: <b>{{user.password}}</b></h3>
    <p>Please give this password to <b>{{user.username}}</b>. This password will not be displayed again.</p>
    <div class="btn btn-primary" ng-click="close()">Done</div>
  </div>
</div>
