<div ng-show="visible" class="legend-jobs">
    <div class="legend-title">{{ title }}</div>
    <div class="legend-scale">
        <span class="min">{{ range.min | legendValue }}</span>
        <ul class="legend-labels">
            <li ng-repeat="color in colors">
                <span class="legend-value" style="background:{{ color }};"></span>
                {{ labels[$index] | legendValue }}
            </li>
        </ul>
        <span class="max">{{ range.max | legendValue }}</span>
    </div>
    <div ng-if="source" class="legend-source">Source: <a href="{{ source.link }}">{{ source.text }}</a></div>
</div>
