.button--small {
    display: inline;
    padding: 1.4rem 0;
    font-size: $h5;
    cursor: pointer;
    color: $primary-color;
}
.filter {
    .button--small {
        margin-right, 10
        &:last-child {
            margin-right: 0;
        }
        &.active {
            color: $primary-color;
        }
        &.inactive {
            color: #ccc;
        }
    }
}
