.button--small {
  color: $primary-color;
  cursor: pointer;
  display: inline;
  padding: 1.4rem 0;
  &.default {
    font-weight: 600;
  }
}

.button--large {
  background-color: $primary-color;
  border: 1px solid $primary-color;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: $h4;
  padding: .4rem .8rem;
  position: relative;
  top: .1rem;

  &:hover {
    background-color: opacify($primary-color, .5);
    color: #eee;
  }
}

.button {
  &.button--secondary {
    color: $gray-light;
  }
}

.button--calculate {
  background-color: $secondary-color;
  border: 1px solid $secondary-color;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: $h4;
  padding: .4rem .8rem;
}

.button--inactive {
    color: $btn-link-disabled-color;
    cursor: default;
    &:hover {
        color: $btn-link-disabled-color;
        text-decoration: none;
    }
}

.filter {
  .button--small {
    margin-right: .5rem;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      color: #000;
      font-weight: bold;
    }

    &.inactive {
      color: #ccc;
    }
  }
}

.button--navigationsecondary {
  background-color: inherit;
  border: 1px solid $light-line-grey;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: $h4;
  padding: .4rem .8rem;
}
