.button--large {
    @include rem(padding, 14, 0);
    @include rem(font-size, $h4);
    cursor: pointer;
    // font-weight: 100;
    text-align: center;
    background-color: $light-blue;
    color: #fff;
    border-right: solid 1px rgba(255, 255, 255, 1);
    &:last-child {
        border-right: 0;
    }
    &.active {
        background-color: $medium-blue;
    }
}
.button--small {
    display: inline;
    @include rem(padding, 14, 0);
    @include rem(font-size, $h5);
    cursor: pointer;
    color: $light-blue;
}
.filter {
    .button--small {
        @include rem(margin-right, 10);
        &:last-child {
            margin-right: 0;
        }
        &.active {
            color: $light-blue;
        }
        &.inactive {
            color: #ccc;
        }
    }
}
