<div class="scenario-page-content">
    <form novalidate name="newScenario">
        <h3 ng-if="!isEditing">{{'SCENARIO.NEW_SCENARIO'|translate}}</h3>
        <p ng-if="!isEditing">{{'SCENARIO.GET_STARTED'|translate}}</p>
        <h3 ng-if="isEditing">{{'SCENARIO.EDIT_SCENARIO'|translate}}</h3>
        <p ng-if="isEditing">{{'SCENARIO.EDITING'|translate}}</p>
        <div class="block">
            <label>{{'SCENARIO.NAME'|translate}}</label>
            <input type="text" ng-model="scenario.name" required id="prototype-scenario-field">
        </div>
        <div class="block">
            <label>{{'SCENARIO.DESCRIPTION'|translate}}</label>
            <textarea ng-model="scenario.description" required ></textarea>
        </div>
        <div class="block">
            <label>{{'SCENARIO.TIME_PERIOD'|translate}} <span ng-if="isEditing">({{'SCENARIO.LOCKED'|translate}})</span></label>
            <div class="row">
                <div class="col-xs-12">
                    <select ng-model="scenario.sample_period" ng-disabled="isEditing" required ng-options="key as value for (key, value) in filteredSamplePeriods" ></select>
                </div>
            </div>
        </div>
        <div class="block">
            <span class="text-danger" ng-if="!newScenario.$valid && newScenario.$dirty">{{'SCENARIO.INCOMPLETE_FORM'|translate}}</span>
        </div>
    </form>
</div>
<div class="scenario-page-buttons">
    <a class="button--small default" ng-click="create()">{{'TERM.FINISH'|translate}}</a> /
    <a class="button--small" ng-click="back()">{{'SCENARIO.BACK'|translate}}</a>
</div>
