<div class="calculation-heading">
    <span ng-if="!statusFetched" class="calculation-description">
        {{ 'CALCULATION.OBTAINING' | translate }}
    </span>
    <span ng-if="statusFetched && jobStatus" class="calculation-description">
        {{ 'CALCULATION.STATUS' | translate }} -
        {{ displayStatus | translate }}
    </span>
    <span ng-if="statusFetched && !jobStatus" class="calculation-description">
        {{ 'CALCULATION.EMPTY' | translate }}
    </span>
    <span ng-if="statusFetched && (!jobStatus || currentJob.job_status !== 'processing')"
         ng-click="calculateIndicators()" class="button--calculate">
      {{ 'UI.BUTTON.CALCULATE_INDICATORS' | translate }}
    </span>
</div>
<div ng-repeat="(indicator, status) in calculationStatus" class="calculation-table">
    <div class="calculation-row">
        <div class="calculation-cell indicators-label">
            <span ng-if="status.status === 'submitted'" class="glyphicon glyphicon-minus"></span>
            <span ng-if="status.status === 'processing'" class="glyphicon glyphicon-flash"></span>
            <span ng-if="status.status === 'complete'" class="glyphicon glyphicon-ok"></span>
            <span ng-if="status.status === 'error'" class="glyphicon glyphicon-remove"></span>
            <span class="calculation-status {{ status.status }}">{{ types[indicator] }}</span>
            <span class="label label-danger" ng-if="status.msg != ''">{{ status.msg }}</span>
        </div>
    </div>
</div>
