<div class="indicators-heading">
    <div class="indicators-description">
        Viewing indicator results for {{ cities.join(', ') }}
    </div>
    <div class="indicators-map"></div>
</div>
<div class="indicators-table">
    <div class="indicators-row indicators-row-heading">
        <div class="indicators-cell indicators-label">City <span ng-show="updating" class="label label-info">Updating Indicators...</span></div>
        <div ng-repeat="cityname in cities" class="indicators-cell">{{ cityname }}</div>
    </div>
</div>
<div ng-repeat="(type, indicator) in indicatorData"
     class="indicators-table">
    <div class="indicators-row">
        <div class="indicators-cell indicators-label">
            <h3>{{ types[type] }}</h3>
            <p>{{ getIndicatorDescriptionTranslationKey(type) | translate }}</p>
        </div>
        <div ng-repeat="(cityname, citydata) in indicator"
             ng-init="systemData = citydata.system[0].values"
             class="indicators-cell">
            <div ng-if="citydata.mode && citydata.mode.length > 0">
                <span class="h4">By Mode:</span>
                <ng-include src="getModePartialForIndicator(type)"></ng-include>
            </div>
            <span ng-if="systemData && systemData.length > 0">{{ systemData[0].formatted_value }}</span>
            <span ng-if="!(citydata.system && citydata.system.length > 0)">No System-wide Data</span>
        </div>
    </div>
</div>
