<div class="indicator-map">
    <div class="indicator-controls">
        <div class="indicator-control">
            <div>Indicator Aggregation:</div>
            <div class="btn-group" dropdown is-open="dropdown_aggregation_open">
                <button type="button" class="button--navigationsecondary dropdown-toggle" ng-disabled="disabled">
                    {{ aggregations[indicator.aggregation] }} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="(key, value) in aggregations"><a ng-click="selectAggregation(key)"> {{ value }}</a></li>
                </ul>
            </div>
        </div>
        <div class="indicator-control">
            <div>Indicator Type:</div>
            <div class="btn-group" dropdown is-open="dropdown_type_open">
                <button type="button" class="button--navigationsecondary dropdown-toggle" ng-disabled="disabled">
                    {{ types[indicator.type] }} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="(key, value) in types"><a ng-click="selectType(key)"> {{ value }}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <leaflet defaults="leaflet.defaults" center="leaflet.center" bounds="leaflet.bounds" markers="leaflet.markers" layers="leaflet.layers" height="100%" width="100%"></leaflet>
</div>