<div ng-init="init()" ng-controller="GTFSUploadController">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <form novalidate class="simple-form">
	<label>Upload GTFS Feed</label>
	<input type="file" ng-file-select="onFileSelect($files)" />
	<br>
	<button ng-click="upload()" class="btn btn-primary" type="button">Upload</button>
      </form>
    </div>
  </div>
  <div class="row">
    <h2>GTFS Uploads</h2>
    <button ng-click="getUploads()"><span class="glyphicon glyphicon-refresh"></span></button>
    <div class="col-sm-8 col-sm-offset-2">
      <table class="table">

        <tr>
          <th>Upload Status</th>
          <th>Uploaded Time</th>
          <th>Warnings</th>
          <th>Errors</th>
          <th></th>
        </tr>

        <tr ng-repeat="upload in uploads">
          <td>{{upload.is_processed | processing_status}}</td>
          <td>{{upload.create_date}}</td>
          <td class="warning">{{upload.problems.warnings}}</td>
          <td class="danger">{{upload.problems.errors}}</td>
          <td>
            <a ng-show="{{upload.problems.warnings > 0 || upload.problems.errors > 0}}"
                  ng-click="viewProblems(upload)">
              View Problems
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row" ng-show="uploadProblems">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>GTFS Problems</h2>
      <pagination direction-links="false" boundary-links="true"
                  items-per-page="problemsPerPage" on-select-page="updatePagination(page)"
                  total-items="problemsLength" page="currentPage">
      </pagination>
      <table class="table table-hover">
        <tr>
          <th>Problem Type</th>
          <th>Problem Description</th>
        </tr>
        <tr ng-repeat="problem in uploadProblemsPaginated" class="{{problem.type | problem_type}}">
          <td>{{problem.title}}</td>
          <td>{{problem.description}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
