// Variables
$primary-color          : rgb(65, 188, 255);
$secondary-color        : #5d7a92;
$tertiary-color         : #586063;
$heading-color          : #404040;
$lighter-bg-grey        : rgb(230, 230, 230);
$light-line-grey        : rgb(200, 200, 200);
$error-red              : rgb(223, 26, 35);
$warning-orange         : rgb(207, 136, 19);
$hr-border              : #ccc;
// http://modularscale.com/scale/?px1=13&px2=&ra1=1.25&ra2=0
$h1                     : 3.1739rem;
$h2                     : 2.5391rem;
$h3                     : 2.0313rem;
$h4                     : 1.625rem;
$h5                     : 1.3rem;
$gutter                 : 1.5rem;
$block-spacing          : 1.6rem;

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
// Note: Deprecated $screen-sm and $screen-tablet as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
// Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
// Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
