<div class="scenario-page-content">
    <form name="newRoute" novalidate>
        <h3>{{'SCENARIO.NEW_ROUTE'|translate}}</h3>
        <p>{{'SCENARIO.ADD_A_NEW_ROUTE'|translate}}</p>
        <div class="block">
            <label>{{'SCENARIO.SHORT_NAME'|translate}}</label>
            <input type="text" ng-model="route.shortName" required placeholder="1" />
        </div>
        <div class="block">
            <label>{{'SCENARIO.LONG_NAME'|translate}}</label>
            <input type="text" ng-model="route.longName" required placeholder="Route 1" />
        </div>
        <div class="block">
            <label>{{'SCENARIO.DESCRIPTION'|translate}}</label>
            <input type="text" ng-model="route.description" placeholder="Add description here..." />
        </div>
        <div class="block">
            <div class="filter">
                <a ng-repeat="type in routeTypes" class="button--small btn-group" ng-model="route.routeType" btn-radio="type.route_type">{{ type.description }}</a><br />
            </div>
        </div>
        <div ng-if="!isRouteNew" class="block">
            <label>{{'SCENARIO.REPRESENTATIVE_TRIP'|translate}}</label>
            <select ng-model="selected.tripId" ng-options="tripId for tripId in trips" ng-change="getTrip()"></select>
        </div>
        <div class="block">
            <label>{{'SCENARIO.HEADWAY'|translate}} ({{'UNITS.MINUTES'|translate}})</label>
            <input type="number" ng-model="headwayMins" min="1" max="1440" ng-change="setHeadway()"></select>
        </div>
    </form>
</div>
<div class="scenario-page-buttons">
    <a class="button--small default" ng-class="{'button--inactive': !newRoute.$valid}" ng-click="continue()">{{'SCENARIO.CONTINUE'|translate}}</a> /
    <a class="button--small" ng-click="back()">{{'SCENARIO.BACK'|translate}}</a>
</div>
