.changepasswordmodal-field {
    padding-bottom: 1rem;
    input {
      padding-left: .5rem;
      padding-right: .5rem;
      width: 100%;
    }
}

.changepasswordmodal-instructions {
    padding-bottom: 2rem;
}
