.stack-header {
  @include rem(padding, 12, $gutter);
  background-color: #eee;
  border-bottom: #ccc 1px solid;
  @include rem(margin, 0, -$gutter);
}

.content {
  flex: 1;
}

.bottom-buttons {
  border-top: #ccc 1px solid;
  @include rem(margin-top, 12);
  @include rem(padding-top, 12);
}

input, select {
  width: 100%;
}

.page {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  -webkit-transform: translate3d(100%, 0, 0);
  transition: all 200ms;
  width: 100%;
  @include rem(padding, $gutter);
  @include rem(margin, 0, -$gutter);
  &.active {
    opacity: 1.0 !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
  }

  &.sliding {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
  }
}