.settingsmodal {
  input {
    width: 100%;
    height: 3.4rem;
    font-size: $h4;
    padding: .6rem;
  }
  select {
    border: 1px solid $light-line-grey;
    border-radius: 0;
    margin: 0;
    height: 3.4rem;
    padding: .6rem;
    font:size, $h4;
    width: 100%;
  }
  .settingsmodal-field--verticalcentered {
    line-height: 3.4rem;
  }
  .settingsmodal-add {
    > a {
      padding: 10px;
    }
  }
}
