.nopadding {
  padding: 0;
}

.block {
  padding-bottom: $block-spacing;
  > .row {
    &:last-child {
      padding-bottom: 0;
    }
  }
}

.leaflet-retina .leaflet-control-layers-toggle {
  background-size: 14px 14px;
}

.leaflet-control-layers-toggle {
  width: 26px;
  height: 26px;
}
