header {
  background-color: $secondary-color;
  position: fixed;
  width: 100%;
  z-index: 200;
  height: 5.5rem;
}

.navigationsecondary {
  background-color: #eee;
  padding: .8rem;
  height: 5.5rem;
  // When the affix happens, needed to keep the bar full width
  width: 100%;
  position: fixed;

  .btn-group {
    display: inline;
  }
}

.app-view {
    padding-top: 55px;
}

.button--navigation {
  background-color: $secondary-color;
  display: inline-block;
  color: #fff;
  font-size: $h4;
  min-width: 13.9rem;
  margin-left: -.3rem;
  padding: 1.6rem 1.2rem 1.5rem 2.4rem;
  border-right: 1px solid #fff;
  cursor: pointer;
  &.active {
    background-color: $tertiary-color;
  }
  &.pull-right {
    border-left: 1px solid #fff;
  }
}
