header {
  background-color: $secondary-color;
  position: fixed;
  width: 100%;
  z-index: 200;
}

.app-view {
    padding-top: 55px;
}

.button--navigation {
  background-color: $secondary-color;
  display: inline-block;
  color: #fff;
  font-size: $h4;
  min-width: 13.9rem;
  padding: 1.6rem 1.2rem 1.5rem 2.4rem;
  border-right: 1px solid #fff;
  cursor: pointer;
  &.active {
    background-color: $tertiary-color;
  }
  &.pull-right {
    border-left: 1px solid #fff;
  }
}