.indicators {
  background-color: #fff;
  top: 5.5rem;
}

.indicators .leaflet-control-zoom {
  display: none;
}

.navigationsecondary-menu {
  font-size: $h4;
}

.navigationsecondary-left {
  float: left;
}

.navigationsecondary-right {
  float: right;
}

.indicators-heading {
  font-size: $h1;
  //padding: 10rem 2rem;
  //min-height: 20rem;
  padding: 7rem 2rem;
  min-height: 10rem;
}

.calculation-heading {
  font-size: $h1;
  padding: 7rem 2rem 0 2rem;
  min-height: 10rem;
}

.indicators-table, .calculation-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.indicators-map {
  height: 30rem;
  width: 50%;
  float: left;
}

.indicators-description {
  width: 100%;
  //width: 50%;
  float: left;
}

.indicators-row, .calculation-row {
  display: table-row;
}

.indicators-cell, .calculation-cell {
  display: table-cell;
  text-align: center;
  padding: 2rem 1.6rem;
  border: 0 solid #eee;
  border-width: 0 1px 1px 0;
  font-size: $h1;
  font-weight: bold;

  &.indicators-label {
    font-size: $h5 !important;
    font-weight: normal;
    text-align: left;
  }
}

.calculation-status {
  &.submitted {
    color: #FF6600;
  }

  &.processing {
    color: #3333FF;
  }

  &.complete {
    color: #336633;
  }

  &.failed {
    color: #600000;
  }
}

.indicators-row-heading > .indicators-cell {
  border-top: 1px solid #eee;
  border-bottom: 4px solid #eee;
  font-size: $h4;
}

.graph {
  max-width: 100%;
}

.indicators-count-1 {

}

.indicators-count-2 {

}

.indicators-count-3 {

}

.indicators-count-4 {

}

.indicators-count-5 {

}

.indicators-city-modal-window, .yes-no-modal-window {
    margin-top: 11rem;
}

.indicators-city-modal {
    padding: 2rem;
}

.full-width {
    width: 100%;
}

.dropdown-menu > li > span {
    // Copy of dropdown menu a elements for header spans
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: bold;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}

.city-modal-row {
    padding-top: 2rem;
}

.progressbar span {
  color: black;
  white-space: nowrap;
}

