.angular-leaflet-map {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    &.navigationpadding-1 {
        top: 5.5rem;
    }
    &.navigationpadding-2 {
        top: 11rem;
    }
}

.leaflet-control-layers-expanded {
    max-height: calc(100vh - 37rem);
    overflow: auto;
}

.gtfs-map-controls {
    position: absolute;
    top: 1rem;
    left: 5rem;
}

.indicator-map {
    position: relative;
}

.indicator-controls {
    position: absolute;
    top: 6rem;
    left: 1rem;
    padding-top: 2rem;
    padding-left: 2rem;
    border: solid 1px $gray-light;
    background-color: white;
    width: 30rem;
    z-index: 99;
}

.indicator-control {
    padding-bottom: 2rem;
    padding-right: 2rem;
}

/* fix for line drawing on scenario map */
svg.leaflet-zoom-animated {
    width: inherit !important;
    height: inherit !important;
}

/* Legend CSS from:
https://www.mapbox.com/tilemill/docs/guides/advanced-legends/

Use class legend + (stacked-legend || flat-legend)
*/

.mode-selector {
    font: 14px/16px Arial, Helvetica, sans-serif;
    border-radius: 5px;
    padding: 6px 8px;
    width: 240px;
    line-height: 18px;
    color: #555;
    position: fixed;
    left: 39px;
    bottom: 2px;
    z-index: 1000;
    .dropdown-menu {
      transform: translateY(-100%);
      -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      margin: -32px 0 20px;
    }
    button {
      font-size: $h5 !important;
      background-color: #fff;
    }
}

.legend {
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: #fff !important;
    padding: 6px 8px;
    line-height: 18px;
    color: #555;
    position: fixed;
    bottom: 14px;
    right: 10px;
}

.legend-flat {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.legend .legend-title {
    text-align: left;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 90%;
}

.legend-stacked .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
}
.legend-stacked .legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
}
.legend-stacked ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
}

.legend-flat .legend-scale ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
}

.legend-flat .legend-scale ul li {
    display: block;
    float: left;
    width: 44px;
    margin-bottom: 6px;
    text-align: center;
    font-size: 80%;
    list-style: none;
}

.legend-flat ul.legend-labels li span {
    display: block;
    float: left;
    height: 15px;
    width: 44px;
}

.legend .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
}

.legend a {
    color: #777;
}

.legend-jobs {
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255, 1);
    padding: 6px 8px;
    width: 300px;
    line-height: 18px;
    color: #555;
    bottom: 14px;
    right: 10px;
}

.legend-jobs {
    padding-top: 2rem;
}


.legend-jobs {
    padding-top: 2rem;
}

.legend-jobs .legend-scale ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
}

.legend-jobs .legend-title {
    text-align: left;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 90%;
}

.legend-jobs .legend-scale ul li {
    display: block;
    float: left;
    text-align: center;
    font-size: 80%;
    list-style: none;
}

.legend-jobs ul.legend-labels li span {
    display: block;
    float: left;
    height: 20px;
    width: 20px;
    margin: 0 1px;
    border: grey 1px solid;
}

.legend-jobs span.min {
  float: left;
  margin: 0px 10px 6px 0px;
}

.legend-jobs span.max {
  margin: 0px 0px 6px 10px;
}

.legend-coverage {
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255, 1);
    padding: 6px 8px;
    width: 280px;
    line-height: 18px;
    color: #555;
    bottom: 14px;
    right: 10px;
}

.legend-coverage span.value {
  float: right;
  font-weight: bold;
}

