.angular-leaflet-map {
    // Expands leaflet map to entire view bounds
    // This class is on the div element created by
    // angular-leaflet-directive and is placed here since there is
    // no support for setting this style via the directive.
    // The map will disappear if angular-leaflet-directive updates this class name
    // in the future
    position: fixed;
}

.gtfs-map-controls {
    position: absolute;
    top: 1rem;
    left: 5rem;
}

// Move the zoom control; this might be better in a different location
.leaflet-control-zoom {
    //position: absolute;
    //top: 11rem;
    //right: 1rem;
    //margin-top: 0 !important;
}

.indicator-map {
    position: relative;
}

.indicator-controls {
    position: absolute;
    top: 6rem;
    left: 1rem;
    padding-top: 2rem;
    padding-left: 2rem;
    border: solid 1px $gray-light;
    background-color: white;
    width: 30rem;
    z-index: 99;
}

.indicator-control {
    padding-bottom: 2rem;
    padding-right: 2rem;
}

.leaflet-bottom .leaflet-control {
    margin-bottom: 2.5rem;
}

.legend {
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255, 0.9);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 6px 8px;
    width: 180px;
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}