.angular-leaflet-map {
    // Expands leaflet map to entire view bounds
    // This class is on the div element created by
    // angular-leaflet-directive and is placed here since there is
    // no support for setting this style via the directive.
    // The map will disappear if angular-leaflet-directive updates this class name
    // in the future
    position: fixed;
}

.gtfs-map-controls {
    position: absolute;
    top: 1rem;
    left: 5rem;
}

// Move the zoom control; this might be better in a different location
.leaflet-control-zoom {
    position: fixed;
    top: 7rem;
    right: 1rem;
    margin-top: 0 !important;
}