// Partial: Typography

body {
  font-size: $h5;
  line-height: 1.5;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0 0 1em;
  font-size: $h4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
  font-weight: 600;
  line-height: 1.25;
  margin: .5em 0;

  &:first-child {
    margin-top: 0;
  }
}

h1,
.h1 {
  font-size: $h1;
}

h2,
.h2 {
  font-size: $h2;
}

h3,
.h3 {
  font-size: $h3;
}

h4,
.h4 {
  font-size: $h4;
}

h5,
.h5 {
  font-size: $h5;
}

label {
  color: #888;
  display: block;
}

a {
  color: $link-color;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
