<div ng-init="init()">
    <h1>{{'VIEW.upload' | translate}}</h1>
    <p>{{'SETTINGS.UPLOAD_DESCRIPTION' | translate}}</p>

    <form ng-submit="saveCityName()" name="cityNameForm" ng-show="true" autocomplete="off">
        <div class="settingsmodal-fieldgroup">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-9">
                            <span class="h4"><span tooltip="{{ 'UI.TOOLTIP.CITY_NAME' | translate }}"
                                class="glyphicon glyphicon-info-sign"></span> {{'SETTINGS.CITY_NAME' | translate}}</span>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" name="cityName" ng-model="cityName" required="true" ng-change="checkCityName()">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button ng-disabled="!saveCityNameButton.enabled" class="btn" 
            ng-class="{'btn-primary': saveCityNameButton.enabled}">{{saveCityNameButton.text | translate}}</button>
        <span ng-show="cityNameError" class="label label-danger">{{'TERM.ERROR' | translate}}</span>
    </form><br />

    <polling-upload url="/api/gtfs-feeds/" upload="gtfsUpload" resource="GTFSUploads" options="gtfsOptions">
    </polling-upload>

    <div class="dropzone notices" ng-if="uploadProblems.warnings.length > 0 || uploadProblems.errors.length > 0">
        <div class="settingsmodal-notices" ng-if="uploadProblems.errors.length > 0">
            <div class="settingsmodal-notices-errors">
                <h4>{{'TERM.ERRORS' | translate}}</h4>
                <ul>
                    <li ng-repeat="problem in uploadProblems.errors">{{ problem.description }}</li>
                </ul>
            </div>
        </div>
        <div class="settingsmodal-notices-warnings" ng-if="uploadProblems.warnings.length > 0">
            <h4>{{'TERM.WARNINGS' | translate}}</h4>
            <ul>
                <li ng-repeat="problem in uploadProblems.warnings">{{ problem.description }}</li>
            </ul>
        </div>
    </div>

    <div class="dropzone error" ng-if="Status.isError(osmImport.status)">
        <div class="h4">{{'SETTINGS.OSM_IMPORT_ERROR' | translate}} <span class="h5 pull-right">
            <button class="btn btn-danger" ng-click="retryOSMImport()">{{'STATUS.RETRY' | translate}}</button></span>
        </div>
    </div>

    <div class="dropzone inprogress" ng-show="Status.isPolling(osmImport.status)">
        <div class="h4">{{'SETTINGS.IMPORTING_OSM' | translate}}</div>
    </div>

    <div class="dropzone" ng-if="Status.isComplete(osmImport.status)">
        <div class="h3">
            <span class="glyphicon glyphicon-ok"></span> {{'SETTINGS.OSM_LOADED' | translate}}
        </div>
    </div>

    <div class="dropzone notices" ng-if="osmImportProblems.warnings.length > 0 || osmImportProblems.errors.length > 0">
        <div class="settingsmodal-notices" ng-if="osmImportProblems.errors.length > 0">
            <div class="settingsmodal-notices-errors">
                <h4>{{'TERM.ERRORS' | translate}}</h4>
                <ul>
                    <li ng-repeat="problem in osmImportProblems.errors">{{ problem.description }}</li>
                </ul>
            </div>
        </div>
        <div class="settingsmodal-notices-warnings" ng-if="osmImportProblems.warnings.length > 0">
            <h4>{{'TERM.WARNINGS' | translate}}</h4>
            <ul>
                <li ng-repeat="problem in osmImportProblems.warnings">{{ problem.description }}</li>
            </ul>
        </div>
    </div>

</div>
