<div class="scenario-page-content">
    <h3>{{'SCENARIO.ADD_SHAPE'|translate}}</h3>
    <p>
        {{'SCENARIO.USE_THE_DRAW_TOOL'|translate}}
    </p>
    <div class="row" ng-if="route.shapes.length > 0">
        <div class="col-xs-8">{{ 'SCENARIO.SHAPE_LENGTH'|translate}}:</div>
        <div class="col-xs-4">{{ route.shapes[route.shapes.length - 1].shapeDistTraveled | number:2 }} {{'SCENARIO.SHAPE_UNITS'|translate}}</div>
    </div>
    <div class="row" ng-if="route.shapes.length > 0">
        <div class="col-xs-12">
            <a class="button--small" ng-click="delete()">{{'TERM.DELETE'|translate}}</a>
        </div>
    </div>
</div>
<div class="scenario-page-buttons">
    <a class="button--small default" ng-click="continue()">{{'SCENARIO.CONTINUE'|translate}}</a> /
    <a class="button--small" ng-click="back()">{{'SCENARIO.BACK'|translate}}</a>
</div>
