<div ng-init="init()">
    <h1>Boundary</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a ipsum suscipit, lacinia lectus vitae, iaculis nisl. Ut et nisi egestas, vehicula mi sodales, convallis lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce eget euismod magna, in aliquam est. Etiam ac lobortis neque. Quisque congue ipsum non mauris lacinia, non adipiscing leo adipiscing.</p>

    <h3>City</h3>
    <polling-upload url="/api/boundaries/" upload="uploadCity" resource="BoundaryUploads" options="cityOptions">
    </polling-upload>

    <div class="dropzone notices" ng-if="uploadProblemsCity.warnings.length > 0 || uploadProblemsCity.errors.length > 0">
        <div class="settingsmodal-notices" ng-if="uploadProblemsCity.errors.length > 0">
            <div class="settingsmodal-notices-errors">
                <h4>City Errors</h4>
                <ul>
                    <li ng-repeat="problem in uploadProblemsCity.errors">{{ problem.description }}</li>
                </ul>
            </div>
        </div>
        <div class="settingsmodal-notices-warnings" ng-if="uploadProblemsCity.warnings.length > 0">
            <h4>City Warnings</h4>
            <ul>
                <li ng-repeat="problem in uploadProblemsCity.warnings">{{ problem.description }}</li>
            </ul>
        </div>
    </div>

    <h3>Region</h3>
    <polling-upload url="/api/boundaries/" upload="uploadRegion" resource="BoundaryUploads" options="regionOptions">
    </polling-upload>

    <div class="dropzone notices" ng-if="uploadProblemsRegion.warnings.length > 0 || uploadProblemsRegion.errors.length > 0">
        <div class="settingsmodal-notices" ng-if="uploadProblemsRegion.errors.length > 0">
            <div class="settingsmodal-notices-errors">
                <h4>Region Errors</h4>
                <ul>
                    <li ng-repeat="problem in uploadProblemsRegion.errors">{{ problem.description }}</li>
                </ul>
            </div>
        </div>
        <div class="settingsmodal-notices-warnings" ng-if="uploadProblemsRegion.warnings.length > 0">
            <h4>Region Warnings</h4>
            <ul>
                <li ng-repeat="problem in uploadProblemsRegion.warnings">{{ problem.description }}</li>
            </ul>
        </div>
    </div>

</div>
