<div class="scenario-page-content">
    <h3 class="prototype-scenario-text">{{ scenario.name }}</h3>
    <p>
        {{'SCENARIO.NEW_SCENARIO_INST1'|translate}} <span
        class="prototype-scenario-text">{{ scenario.name }}</span>.
        {{'SCENARIO.NEW_SCENARIO_INST2'|translate}}
    </p>
</div>
<div class="scenario-page-buttons">
    <a class="button--small" ng-click="routes()">{{'SCENARIO.ROUTES'|translate}}</a> /
    <a class="button--small" ng-click="modes()">{{'SCENARIO.MODES'|translate}}</a> /
    <a class="button--small" ng-click="back()">{{'SCENARIO.BACK'|translate}}</a>
</div>
