<div ng-init="init()">
    <h1>{{'VIEW.DEMOGRAPHIC' | translate}}</h1>
    <p>{{'SETTINGS.DEMOGRAPHIC_DESCRIPTION' | translate}}</p>

    <polling-upload url="/api/demographics/" upload="uploadDemographic" resource="DemographicUpload" options="demographicsOptions">
    </polling-upload>

    <div class="dropzone notices" ng-if="uploadProblems.warnings.length > 0 || uploadProblems.errors.length > 0">
        <div class="settingsmodal-notices" ng-if="uploadProblems.errors.length > 0">
            <div class="settingsmodal-notices-errors">
                <h4>{{'TERM.ERRORS' | translate}}</h4>
                <ul>
                    <li ng-repeat="problem in uploadProblems.errors">{{ problem.description }}</li>
                </ul>
            </div>
        </div>
        <div class="settingsmodal-notices-warnings" ng-if="uploadProblems.warnings.length > 0">
            <h4>{{'TERM.WARNINGS' | translate}}</h4>
            <ul>
                <li ng-repeat="problem in uploadProblems.warnings">{{ problem.description }}</li>
            </ul>
        </div>
    </div>

    <div class="dropzone" ng-show="showSelectionDiv()">
        <h3>{{'SETTINGS.ASSIGN_FIELDS' | translate}}</h3>
        <h4>{{'SETTINGS.POPULATION' | translate}}</h4>
        <div class="settingsmodal-fieldgroup">
            <div class="row">
                <div class="col-sm-4">
                    <p>{{'SETTINGS.POPULATION_METRIC_ONE' | translate}}</p>
                </div>
                <div class="col-sm-8">
                    <select ng-model="assign.pop_metric_1" name="pop_metric_1" required="true" ng-options="metric for metric in uploadDemographic.fields"></select>
                </div>
            </div>
        </div>
        <div class="settingsmodal-fieldgroup">
            <div class="row">
                <div class="col-sm-4">
                    <p>{{'SETTINGS.POPULATION_METRIC_TWO' | translate}}</p>
                </div>
                <div class="col-sm-8">
                    <select ng-model="assign.pop_metric_2" name="pop_metric_2" required="true" ng-options="metric for metric in uploadDemographic.fields"></select>
                </div>
        </div>
        <h4>{{'VIEW.DEMOGRAPHIC' | translate}}</h4>
        <div class="settingsmodal-fieldgroup">
            <div class="row">
                <div class="col-sm-4">
                <p>{{'SETTINGS.DEMOGRAPHIC_METRIC' | translate}}</p>
                </div>
                <div class="col-sm-8">
                    <select ng-model="assign.dest_metric_1" name="demo_metric_1" required="true" ng-options="metric for metric in uploadDemographic.fields"></select>
                </div>
            </div>
        </div>
        <div class="settingsmodal-fieldgroup">
            <button class="btn btn-primary" ng-click="save()">{{'STATUS.SAVE' | translate}}</button>
        </div>
        <div class="settingsmodal-fieldgroup">
            <alert ng-show="loadAlert" type="loadAlert.type">{{loadAlert.msg | translate}}</alert>
        </div>
    </div>
</div>
