<leaflet defaults="leaflet.defaults" center="leaflet.center" bounds="leaflet.bounds" markers="leaflet.markers" layers="leaflet.layers" height="100%" width="100%"></leaflet>
<div class="gtfs-map-controls" ng-show="$state.is('map')">
    <button ng-if="user.is_staff" ui-sref="overview" class="btn btn-primary">Settings</button>
    <button ng-click="logout()" class="btn btn-primary">Logout</button>
    <div class="btn-group" dropdown is-open="indicator_dropdown_open">
      <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
      <!-- TODO: Display actual indicator name here -->
        Indicator: {{ indicator.type }}<span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a ng-click="setIndicator('num_stops')">Num Stops Per Route</a></li>
        <li><a ng-click="setIndicator('length')">Max Length Per Route</a></li>
        <li><a ng-click="setIndicator('time_traveled_stops')">Avg Time Between Stops</a></li>
        <li><a ng-click="setIndicator('avg_service_freq')">Avg Service Frequency</a></li>
      </ul>
    </div>
</div>
<ui-view></ui-view>
