<leaflet defaults="leaflet.defaults" center="leaflet.center" bounds="leaflet.bounds" markers="leaflet.markers" layers="leaflet.layers" height="100%" width="100%"></leaflet>
<div class="gtfs-map-controls" ng-show="$state.is('map')">
    <button ng-if="user.is_staff" ui-sref="overview" class="btn btn-primary">{{'NAV.SETTINGS' | translate}}</button>
    <button ng-click="logout()" class="btn btn-primary">{{'NAV.LOGOUT' | translate}}</button>
    <div class="btn-group" dropdown is-open="indicator_dropdown_open">
      <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
        {{'TERM.INDICATOR' | translate}} : {{'INDICATOR.' + indicator.type | translate}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a ng-click="setIndicator('num_stops')">{{'INDICATOR.num_stops' | translate}}</a></li>
        <li><a ng-click="setIndicator('length')">{{'INDICATOR.length' | translate}}</a></li>
        <li><a ng-click="setIndicator('time_traveled_stops')">{{'INDICATOR.time_traveled_stops' | translate}}</a></li>
        <li><a ng-click="setIndicator('avg_service_freq')">{{'INDICATOR.avg_service_freq' | translate}}</a></li>
      </ul>
    </div>
</div>
<ui-view></ui-view>
