<div class="scenario-page-content">
    <h3>{{'SCENARIO.ROUTES'|translate}}</h3>
    <p>
        {{'SCENARIO.ROUTES_INST'|translate}}
    </p>
    <div class="block">
        <div class="row">
            <div class="col-xs-6">
                <span translate="SCENARIO.FILTER_BY"></span>
            </div>
            <div class="col-xs-6">
                <select ng-model="routeType.selected" ng-options="t.route_type as t.description for t in routeTypes">
                    <option value="" translate="SCENARIO.ALL"></option>
                </select>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="row">
            <div class="col-xs-9">
                <select ng-model="selectedRouteId" ng-options="r.id as r.longName for r in filteredRoutes">
                    <option value="" translate="TERM.SELECTONE"></option>
                </select>
            </div>
            <div class="col-xs-3">
                <a class="button--small" ng-click="editRoute(selectedRouteId, selectedRouteType)">{{'SCENARIO.EDIT_ROUTE'|translate}}</a>
            </div>
        </div>
    </div>
</div>
<div class="scenario-page-buttons">
    <a class="button--large default" ng-click="newRoute()">{{'SCENARIO.NEW_ROUTE'|translate}}</a>
</div>
<div class="scenario-page-buttons">
    <a class="button--small" ng-click="back()">{{'SCENARIO.BACK'|translate}}</a>
</div>
